// Sprite
.s {
	@include ir;
	display: block;
	background-repeat: no-repeat;
	
	.svg & {
		background-image: url( ../../images/sprite.png);
	}
	.no-svg &,
	.no-js & {
		background-image: url( ../../images/sprite.png );
	}
}

$icons: (
	cama: (P: -127px -5px, W: 37px, H: 29px),
	area: (P: -41px -3px, W: 34px, H: 31px),
	terreno: (P: -86px -1px,W: 33px,H: 33px),
  garagem: (P: 0 0,W: 34px,H: 34px),

  favoritos: (P: -5px -76px,W: 29px,H: 27px),
	impressao: (P: -41px -76px,W: 31px,H: 28px),

  email-sm: (P: -105px -160px,W: 27px,H: 19px),
  email-md: (P: -1px -41px,W: 36px,H: 25px),
  email-lg: (P: -244px -1px,W: 72px,H: 54px),
  email-lg-hover: (P: -244px -62px,W: 72px,H: 54px),

  tel-sm: (P: -148px -164px,W: 23px,H: 22px),
  tel-md: (P: -44px -41px,W: 36px,H: 25px),
  tel-lg: (P: -187px -3px,W: 47px,H: 57px),
  tel-lg-hover: (P: -187px -61px,W: 47px,H: 57px),

  chat-sm: (P: -145px -80px,W: 25px,H: 25px),
  chat-md: (P: -110px -42px,W: 35px,H: 31px),
  chat-lg: (P: -325px -1px,W: 65px,H: 57px),
  chat-lg-hover: (P: -325px -63px,W: 65px,H: 57px),

  simulador-sm: (P: -147px -136px,W: 24px,H: 22px),
  simulador-md: (P: -150px -41px,W: 28px,H: 29px),
    
  play-sm-l: (P: -373px -179px,W: 25px,H: 20px),
  play-sm: (P: -321px -126px,W: 25px,H: 21px),
  play-md: (P: -175px -122px,W: 71px,H: 57px),
  play-lg: (P: -1px -108px,W: 95px,H: 76px),

  foto-sm: (P: -287px -126px,W: 29px,H: 20px),

  tour-sm: (P: -255px -124px,W: 25px,H: 24px),

  agende-sm: (P: -146px -108px,W: 22px,H: 21px),

  proposta-sm: (P: -375px -125px,W: 15px,H: 21px),
  proposta-md: (P: -83px -41px,W: 20px,H: 28px),

  arrow-right-white-sm: (P: -353px -128px,W: 10px,H: 18px),
  arrow-left-white-sm: (P: -353px -128px,W: 10px,H: 18px),

  arrow-right-white-lg: (P: -255px -154px,W: 29px,H: 46px),
  arrow-left-white-lg: (P: -255px -154px,W: 29px,H: 46px),

  arrow-left-gray-lg: (P: -290px -157px,W: 23px,H: 41px),
  arrow-right-gray-lg: (P: -290px -157px,W: 23px,H: 41px),

  arrow-right-black-lg: (P: -325px -158px,W: 23px,H: 41px),
  arrow-left-black-lg: (P: -325px -158px,W: 23px,H: 41px),

  btn-simulador: (P: -352px -152px,W: 21px,H: 30px),

  tela-cheia: (P: -109px -183px,W: 18px,H: 15px),

  scroll-down: (P: -105px -76px,W: 28px,H: 81px),

  papel: (P: -375px -152px,W: 21px,H: 24px),

  pipe: (P: -86px -82px,W: 2px,H: 17px),

  maps-esporte: (P: -396px -3px,W: 16px,H: 16px),
  maps-gastronomia: (P: -399px -23px,W: 11px,H: 23px),
  maps-educacao: (P: -396px -53px,W: 21px,H: 16px),
  maps-saude: (P: -397px -104px,W: 19px,H: 15px),
  maps-comodidade: (P: -399px -75px,W: 18px,H: 24px),
  maps-seta-down: (P: -403px -129px,W: 9px,H: 5px),

  maps-download: (P: -426px -4px,W: 22px,H: 15px),
  maps-copy: (P: -426px -28px,W: 18px,H: 23px),
  maps-sms: (P: -427px -57px, W: 21px,H: 19px),
  maps-msg: (P: -427px -83px,W: 22px,H: 15px),

  maps-download-white: (P: -452px -4px,W: 22px,H: 15px),
  maps-copy-white: (P: -451px -28px,W: 18px,H: 23px),
  maps-sms-white: (P: -454px -57px, W: 21px,H: 19px),
  maps-msg-white: (P: -453px -83px,W: 22px,H: 15px)
);

@each $name, $val in $icons {
  .s--icon-#{$name} {
  	display: inline-block;
    background-position: map-get( $val, P );
    width: map-get( $val, W );
    height: map-get( $val, H );
  }
}

/** Arrow rotate **/
.s--icon-arrow-left-white-sm,
.s--icon-arrow-left-white-lg,
.s--icon-arrow-right-gray-lg,
.s--icon-arrow-left-black-lg {
  @include imageFlip;
}

/** Arrow hover **/
.s--icon-arrow-left-white-sm,
.s--icon-arrow-right-white-sm,
.s--icon-arrow-left-white-lg,
.s--icon-arrow-right-white-lg,
.s--icon-arrow-right-gray-lg,
.s--icon-arrow-left-gray-lg,
.s--icon-arrow-right-black-lg,
.s--icon-arrow-left-black-lg {
  &:hover {
    @include opacity(0.5);
  }
}

/** Bg **/
.bg-pattern {
  background: $color_black url( ../../images/bgs/bg-pattern.png ) left bottom no-repeat;
}

.bg-pattern-sm {
  background: $color_black url( ../../images/bgs/bg-pattern-sm.png ) left bottom no-repeat;
}

.bg-pattern-black-sm {
  background: $color_black url( ../../images/bgs/bg-pattern-black-sm.jpg ) left bottom no-repeat;
}

.bg-pattern-lg {
  background: $color_black url( ../../images/bgs/bg-pattern-lg.png ) left bottom no-repeat;
}


.bg-losango {
	background: $color_black url( ../../images/bgs/bg-losango.jpg ) left bottom no-repeat;
}

.bg-losango-lg {
	background: $color_black url( ../../images/bgs/bg-losango-lg.jpg ) no-repeat;
}

.bg-losango-full {
  background: $color_black url( ../../images/bgs/bg-losango-full.jpg ) repeat;
}

.bg-cover {
    position: absolute;
    width: 100%;
    height: 330px;
    background: url(../../images/bgs/bg-cover.png) bottom repeat-x;
}

.bg-white-border {
  background-color: #fff;
  border-bottom: 1px solid #d0d0d0;
}

.bg-white {
	background-color: #fff;
}

.bg-white-t {
  background: rgba( 255, 255, 255, .8);
}

.bg-gray-d {
  background: #2a2929;
}

.bg-gray-l {
  background: #3b3b3b;
}

.bg-red {
  background-color: #a4282a;
}

.bg-black {
  background: rgb( 0, 0, 0);
}

.bg-black-t {
  background: rgba( 0, 0, 0, .8);
}

.header-cover-bottom {
    position: absolute;
    width: 100%;
    height: 298px;
    background: url(../../images/bgs/header-cover-bottom.png) bottom repeat-x;
}

.header-cover-top {
    position: absolute;
    width: 100%;
    height: 250px;
    background: url(../../images/bgs/header-cover-top.png) top repeat-x;
}