// Layout
$page_width: 1920px;
$padding: em( 15 );

// Text
$text_selection_color: gray;

// Colors
$color_gray: #6f6f6f;
$color_gray_light: #e5e5e4;
$color_blue: #46819d;
$color_blue_light: #a5b8c1;

$color_white: #ffffff;
$color_black: #000000;

$color_red: #b7161d;
$color_red_mid: #a4282a;
$color_red_dark: #8c292a;

$color_gray_dark: #2b2b2b;

$color_blue_dark: #001722;